<h1>CHANGE THIS BAND!!!!!!</h1>
<br>
<br>
<form action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="_method" value="patch">

    <label>BAND NAME :
      <input name="band[name]" value="<%= @band.name %>">
    </label>
    <br>
  <input type="submit" value="CHANGE THESE THINGS!">
</form>
